<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_FraudManager>
            <version>0.1.0</version>
        </Aoe_FraudManager>
    </modules>
    <global>
        <helpers>
            <Aoe_FraudManager>
                <class>Aoe_FraudManager_Helper</class>
            </Aoe_FraudManager>
        </helpers>
        <blocks>
            <Aoe_FraudManager>
                <class>Aoe_FraudManager_Block</class>
            </Aoe_FraudManager>
        </blocks>
        <models>
            <Aoe_FraudManager>
                <class>Aoe_FraudManager_Model</class>
            </Aoe_FraudManager>
        </models>
        <resources>
            <Aoe_FraudManager>
                <setup>
                    <module>Aoe_FraudManager</module>
                </setup>
            </Aoe_FraudManager>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aoe_FraudManager before="Mage_Adminhtml">Aoe_FraudManager</Aoe_FraudManager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Aoe_FraudManager>
                    <files>
                        <default>Aoe_FraudManager.csv</default>
                    </files>
                </Aoe_FraudManager>
            </modules>
        </translate>
        <layout>
            <updates>
                <Aoe_FraudManager>
                    <file>Aoe_FraudManager.xml</file>
                </Aoe_FraudManager>
            </updates>
        </layout>
    </adminhtml>
</config>
