<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_FraudManager>
            <version>0.2.2</version>
        </Aoe_FraudManager>
    </modules>
    <global>
        <helpers>
            <Aoe_FraudManager>
                <class>Aoe_FraudManager_Helper</class>
            </Aoe_FraudManager>
        </helpers>
        <blocks>
            <Aoe_FraudManager>
                <class>Aoe_FraudManager_Block</class>
            </Aoe_FraudManager>
        </blocks>
        <models>
            <Aoe_FraudManager>
                <class>Aoe_FraudManager_Model</class>
                <resourceModel>Aoe_FraudManager_Resource</resourceModel>
            </Aoe_FraudManager>
            <Aoe_FraudManager_Resource>
                <class>Aoe_FraudManager_Resource</class>
                <entities>
                    <BlacklistRule>
                        <table>aoe_fraudmanager_blacklist_rule</table>
                    </BlacklistRule>
                    <HoldRule>
                        <table>aoe_fraudmanager_hold_rule</table>
                    </HoldRule>
                </entities>
            </Aoe_FraudManager_Resource>
        </models>
        <resources>
            <Aoe_FraudManager>
                <setup>
                    <module>Aoe_FraudManager</module>
                </setup>
            </Aoe_FraudManager>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Aoe_FraudManager before="Mage_Adminhtml">Aoe_FraudManager</Aoe_FraudManager>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Aoe_FraudManager>
                    <files>
                        <default>Aoe_FraudManager.csv</default>
                    </files>
                </Aoe_FraudManager>
            </modules>
        </translate>
        <layout>
            <updates>
                <Aoe_FraudManager>
                    <file>Aoe_FraudManager.xml</file>
                </Aoe_FraudManager>
            </updates>
        </layout>
        <events>
            <aoe_fraudmanager_rule_condition_combine_additional>
                <observers>
                    <Aoe_FraudManager>
                        <class>Aoe_FraudManager/Observer</class>
                        <method>addOrderConditions</method>
                    </Aoe_FraudManager>
                </observers>
            </aoe_fraudmanager_rule_condition_combine_additional>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <sales_model_service_quote_submit_before>
                <observers>
                    <Aoe_FraudManager>
                        <class>Aoe_FraudManager/Observer</class>
                        <method>checkQuoteSubmitBefore</method>
                    </Aoe_FraudManager>
                </observers>
            </sales_model_service_quote_submit_before>
            <sales_model_service_quote_submit_success>
                <observers>
                    <Aoe_FraudManager>
                        <class>Aoe_FraudManager/Observer</class>
                        <method>checkQuoteSubmitSuccess</method>
                    </Aoe_FraudManager>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </frontend>
</config>
